# If you'd like to be on this list please open an issue as a feature request
# More Info: https://help.github.com/en/articles/about-code-owners
*                             @LanikSJ
README.md                     @krazyito65 @Zweih
dark-theme.css                @krazyito65 @Zweih
event-listener.js             @krazyito65 @Zweih
slack-dark-mode.ps1           @nlowe @BabylonZeus @krazyito65
slack-dark-mode.sh            @krazyito65 @Zweih
snap-slack-dark-mode.sh       @krazyito65
