/docs/* @LanikSJ
README.md @krazyito65 @LanikSJ
dark-theme.css @krazyito65 @LanikSJ
event-listener.js @krazyito65 @LanikSJ
slack-dark-mode.ps1 @niowe @BabylonZeus @krazyito65
slack-dark-mode.sh @krazyito65 @LanikSJ
snap-slack-dark-mode.sh @krazyito65
